@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}

    <div class="dash-body" style="margin-top: 15px">
        <table border="0" width="100%" style="border-spacing: 0; margin: 0; padding: 0;">
            <tr>
                <td colspan="1" class="nav-bar">
                    <p style="font-size: 23px; padding-left:12px; font-weight:600; margin-left:20px;">Dashboard</p>
                </td>
                <td width="25%"></td>
                <td width="15%">
                    <p style="font-size: 14px; color: rgb(119, 119, 119); padding:0; margin:0; text-align:right;">Today's Date</p>
                    <p class="heading-sub12" style="padding:0; margin:0;">
                        @DateTime.Now.ToString("dd/MM/yyyy")
                    </p>
                </td>
                <td width="10%">
                    <button class="btn-label" style="display:flex; justify-content:center; align-items:center;">
                        <img src="~/assets/img/calendar.svg" width="100%">
                    </button>
                </td>
            </tr>

            <tr>
                <td colspan="4">
                    <center>
                        <table class="filter-container doctor-header" style="border:none; width:95%;" border="0">
                            <tr>
                                <td>
                                    <h3>Welcome!</h3>
                                    <h1>.</h1>
                                    <p>
                                        Thanks for joining with us. We are always trying to get you a complete service.<br>
                                        You can view your daily schedule and reach patients’ appointments at home!<br><br>
                                    </p>
                                    <a href="@Url.Action("Appoinment")" class="non-style-link">
                                        <button class="btn-primary btn" style="width:30%">View My Appointments</button>
                                    </a>
                                    <br><br>
                                </td>
                            </tr>
                        </table>
                    </center>
                </td>
            </tr>

            <tr>
                <td colspan="4">
                    <table border="0" width="100%">
                        <tr>
                            <td width="50%">
                                <center>
                                    <table class="filter-container" style="border:none;" border="0">
                                        <tr>
                                            <td colspan="4">
                                                <p style="font-size:20px; font-weight:600; padding-left:12px;">Status</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:25%;">
                                                <div class="dashboard-items" style="padding:20px; margin:auto; width:95%; display:flex;">
                                                    <div>
                                                        <div class="h1-dashboard"></div><br>
                                                        <div class="h3-dashboard">All Doctors</div>
                                                    </div>
                                                    <div class="btn-icon-back dashboard-icons" style="background-image:url('./assets/img/icons/doctors-hover.svg');"></div>
                                                </div>
                                            </td>
                                            <td style="width:25%;">
                                                <div class="dashboard-items" style="padding:20px; margin:auto; width:95%; display:flex;">
                                                    <div>
                                                        <div class="h1-dashboard"></div><br>
                                                        <div class="h3-dashboard">All Patients</div>
                                                    </div>
                                                    <div class="btn-icon-back dashboard-icons" style="background-image:url('./assets/img/icons/patients-hover.svg');"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:25%;">
                                                <div class="dashboard-items" style="padding:20px; margin:auto; width:95%; display:flex;">
                                                    <div>
                                                        <div class="h1-dashboard"></div><br>
                                                        <div class="h3-dashboard">New Booking</div>
                                                    </div>
                                                    <div class="btn-icon-back dashboard-icons" style="background-image:url('./assets/img/icons/book-hover.svg');"></div>
                                                </div>
                                            </td>
                                            <td style="width:25%;">
                                                <div class="dashboard-items" style="padding:20px; margin:auto; width:95%; display:flex; padding-top:21px; padding-bottom:21px;">
                                                    <div>
                                                        <div class="h1-dashboard"></div><br>
                                                        <div class="h3-dashboard" style="font-size:15px;">Today Sessions</div>
                                                    </div>
                                                    <div class="btn-icon-back dashboard-icons" style="background-image:url('./assets/img/icons/session-iceblue.svg');"></div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </center>
                            </td>
                            <td>
                                <p id="anim" style="font-size:20px; font-weight:600; padding-left:40px;">Your Upcoming Sessions until Next Week</p>
                                <center>
                                    <div class="abc scroll" style="height:250px; padding:0; margin:0;">
                                        <table width="85%" class="sub-table scrolldown" border="0">
                                            <thead>
                                            <tr>
                                                <th class="table-headin">Session Title</th>
                                                <th class="table-headin">Scheduled Date</th>
                                                <th class="table-headin">Time</th>
                                            </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </center>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <style>
        .dashbord-tables,.doctor-heade{
            animation: transitionIn-Y-over 0.5s;
        }
        .filter-container{
            animation: transitionIn-Y-bottom  0.5s;
        }
        .sub-table,#anim{
            animation: transitionIn-Y-bottom 0.5s;
        }
        .doctor-heade{
            animation: transitionIn-Y-over 0.5s;
        }
    </style>